.container{
    background-color:  #FFFADA;
    padding-bottom: 50px;
}

.about__section{
    padding: 40px 0;
}

.section__header{
    padding-bottom: 40px;
}

.about__title{
    padding: 30px 0;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #8E3200;
}

.section__header .about__title{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.about__title:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #8E3200;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
  
.about__subtitle1{
    font-size: 40px;
    line-height: 3rem;
    padding: 20px 0;
    text-align: right;
    font-weight: 700;
    color: #8E3200;
}

.about__description1{
    color: #8E3200;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 32px;
}

.about__subtitle2{
    font-size: 40px;
    line-height: 3rem;
    padding: 20px 0;
    text-align: left;
    font-weight: 700;
    color: #8E3200;
}

.about__description2{
    color: #8E3200;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 32px;
}